@import url("./fonts.css");

html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  /* Theme Colors */
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: black;
  --white: #fff;
  --midnight: #0ab2c2;

  /* Gradient Color */
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --grass: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  /* Font-family */
  --Monsterrat: "Monsterrat", cursive;
  --Oswald: "Oswald", cursive;
}

/* ---------  ----------------Global Classes----------------------------- */

a {
  text-decoration: none;
  color: var(--text-gray);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: var(--Monsterrat);
  font-size: 3rem;
  font-weight: bolder;
}

h2 {
  font-family: var(--Oswald);
  font-size: 1.4rem;
}

h3 {
  font-family: var(--Monsterrat);
  font-size: 1.8rem;
}
button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--Monsterrat);
  cursor: pointer;
}

span {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

container {
  margin: 0 5vw;
}

.text-gray {
  color: var(--text-gray);
}

p {
  font-family: var(--Monsterrat);
  color: var(--text-light);
}
/* ------------x-------------Global Classes--------------x--------------- */

/* -------------------------Navbar----------------------------- */

.nav {
  background: white;
  padding: 0.2rem;
  height: 0rem;
  min-height: 15vh;
  overflow: hidden;
  transition: height 0.5s ease-out;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-start;
  padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
  font-size: 1.5rem;
  color: var(--text-gray);
}

.collapse {
  height: 35rem;
}

.nav .nav-items {
  display: inline-flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1rem;
  position: relative;
  font-family: var(--Monsterrat);
}

.nav .nav-items .nav-link:hover {
  background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a {
  color: var(--white);
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 3rem;
  display: block;
}

.nav .social {
  padding: 1.4rem 0rem;
}

.nav .social i {
  padding: 0.3rem;
}

.nav .social i:hover {
  color: #9da2a5;
}
/* -------------x------------Navbar-----------x------------------ */



/* --------------------------Main Content----------------------------- */


/*--------------------- Site Title------------------- */
main  {
    background:linear-gradient(rgba(35, 35, 56, 0.5),rgba(50, 50, 70, 0.5)),url(../imgs/contact-bg.jpg);
    text-align: center;
    height: 80vh;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
  
.contact-title h1{
    color: rgb(255, 255, 255);
    padding-top: 20rem;   
}
  
.contact-title h3{
    color: rgb(255, 255, 255);
     
}
div.contact-form{
  text-align: center;
  height: 80vh;
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10rem;  
}
  
form{
  margin-top: 50px;
  transition: all 2s ease-in-out;
}
  
.form-control{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: rgb(44, 42, 42);
  font-size: 18px;
  margin-bottom: 16px;
}

input{
  height: 45px;
}

form .submit{
  background:var(--midnight);
  border-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover{
  background-color: #f44336;
  cursor: pointer;
}
/*------------X--------- Site Title---------X---------- */
  


/* <!------------------------------ Footer----------------------------> */

footer.footer{
  height: 100%;
  background: var(--bg-color);
  position: relative;
}

footer.footer .container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer.footer .container> div{
  flex-grow: 1;
  flex-basis: 0;
  padding: 3rem .9rem;
  color: var(--white);
} 

footer.footer .newsletter .form-element{
  background: black;
  display: inline-block;
}

footer.footer .newsletter .form-element input{
  padding: .5rem .7rem;
  font-size: 1.1rem;
  border: none;
  background: whitesmoke;
  color: black;
  width:74%;

}
footer.footer .newsletter .form-element span{
  background: skyblue;
  padding: .7rem 1rem;
  cursor: pointer;
}




footer.footer .instagram div> img{
  display: inline-block;
  width: 25%;
  height: 50%;
  margin: .3rem .4rem;
}
footer.footer .follow div i{
  color: var(--white);
  padding: .4rem;
}

footer.footer .rights{
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer.footer .rights h4 a{
  color: white;
}

footer.footer .move-up{
  position:absolute;
  right: 6%;
  top:50%;
}

footer.footer .move-up span{
  color:var(--midnight);

}
footer.footer .move-up span:hover{
  color: white;
  cursor: pointer;
}


/* <!--------------X-------------- Footer--------------X-------------> */ 

/* Viexport less than or equal to 1130px */
  @media only screen and (max-width:1130px){
    .site-content .post-content > .post-image .post-info{
  left:2rem !important;
  bottom:1.2rem !important;
  border-radius:0% !important;
  }

  .site-content .sidebar .popular-post .post-info{
    display: none !important;
  }

  footer.footer .container{
    grid-template-columns: repeat(2,1fr);
  }



}



/* X Viexport less than or equal to 1130px X */



/* Viexport less than or equal to 750px */

@media only screen and (max-width: 750px) {
  .nav .nav-menu,
  .nav-items {
    flex-direction: column;
  }

  .nav .toggle-collapse {
    display: initial;
  }

  main .site-content{
    grid-template-columns: 100%;
  }
  footer.footer .container{
    grid-template-columns: repeat(1,1fr);
  }

}



/*  X  Viexport less than or equal to 750px  X */


/* Viexport less than or equal to 520px */

@media only screen and (max-width: 520px) {
  main .blog{
    height: 125vh;
  }

  .site-content .post-content > .post-image .post-info{
    display: none;
  }

  footer.footer .container > div{
    padding: 1rem .9rem !important;
  }

  .footer .rights{
    padding:0 1.4rem;
    text-align: center;
  }  

  nav .toggle-collapse{
    width: 80%;
    left: 0.8rem;
  }

  main .site-content .post-content .post-image > img {
   height: 10px !important;
  }
}

/*  X Viexport less than or equal to 520px  X */