@font-face{
    font-family: Monsterrat;
    src: url(../Googlefonts/Montserrat-Regular.ttf);

}

@font-face{
    font-family: Oswald;
    src: url(../Googlefonts/Oswald/static/Oswald-Regular.ttf);

}

