@import url("./fonts.css");

html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  /* Theme Colors */
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: black;
  --white: #fff;
  --midnight: #0ab2c2;

  /* Gradient Color */
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --grass: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  /* Font-family */
  --Monsterrat: "Monsterrat", cursive;
  --Oswald: "Oswald", cursive;
}

/* ---------  ----------------Global Classes----------------------------- */

a {
  text-decoration: none;
  color: var(--text-gray);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: var(--Monsterrat);
  font-size: 3rem;
  font-weight: bolder;
}

h2 {
  font-family: var(--Oswald);
  font-size: 1.4rem;
}

h3 {
  font-family: var(--Monsterrat);
  font-size: 1.8rem;
}
button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--Monsterrat);
  cursor: pointer;
}

span {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

container {
  margin: 0 5vw;
}

.text-gray {
  color: var(--text-gray);
}

p {
  font-family: var(--Monsterrat);
  /* color: var(--text-light); */
}
/* ------------x-------------Global Classes--------------x--------------- */

/* -------------------------Navbar----------------------------- */

.nav {
  background: white;
  padding: 0.2rem;
  height: 0rem;
  min-height: 15vh;
  overflow: hidden;
  transition: height 0.5s ease-out;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-start;
  padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
  font-size: 1.5rem;
  color: var(--text-gray);
}

.collapse {
  height: 35rem;
}

.nav .nav-items {
  display: inline-flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1rem;
  position: relative;
  font-family: var(--Monsterrat);
}

.nav .nav-items .nav-link:hover {
  background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a {
  color: var(--white);
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 3rem;
  display: block;
}

.nav .social {
  padding: 1.4rem 0rem;
}

.nav .social i {
  padding: 0.3rem;
}

.nav .social i:hover {
  color: #9da2a5;
}
/* -------------x------------Navbar-----------x------------------ */

/*-----------------------Main Content------------------- */

/*--------------------- Site Title------------------- */
main .site-title {
  background: url(../imgs/bluesea.jpg);
  text-align: center;
  height: 100vh;
  background-size: cover;
}

main .site-title .site-background {
  padding-top: 10rem;
  color: rgb(218, 216, 216);
}

main .site-title h1,
h2 {
  margin: 0.8rem;
}

main .site-title .btn {
  margin: 1.8rem;
  background: var(--sky);
}

main .site-title .btn:hover {
  background: transparent;
  border: 1px solid white;
  color: white;
}





/*------------X--------- Site Title---------X---------- */

/*-------------------------- Blog Carousel--------------- */

main .blog {
  background: url("../imgs/theme.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  width: 100%;
  background-size: 65%;
}
main .blog .blog-post {
  padding-top: 5rem;
}

main .blog-post .blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 75%;
  margin: 3rem 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title {
  padding: 1rem auto;
}

main .blog-content .btn-blog {
  padding: 0.7rem 2rem;
  background: var(--sky);
  margin: .5rem;
}

main .blog-content span {
  display: block;
}

section .container .owl-nav {
  position: absolute;
  top: 5%;
  margin: 0 auto;
  width: 100%;
}

section .container .owl-nav .owl-prev .owl-nav-prev,
section .container .owl-nav .owl-next .owl-nav-next {
  color: var(--text-gray);
  background: transparent;
  font-size: 2rem;
}

section .container .owl-theme .owl-nav [class*="owl-"]:hover {
  color: var(--midnight);
  background: transparent;
}
section .container .owl-theme .owl-nav [class*="owl-"] {
  outline: none;
}
/*------------X---------Blog Carousel---------X---------- */


/* <!--------------------- About Me----------------------> */
section.about{
  margin: 0;
  padding: 0;
  background-size: cover;
  background-image:url(../imgs/lighthouse.jpg);

}

section.about .box{
  width: 700px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 8rem;
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.box img{
  border-radius: 50%;

}

.box h2{
  font-size: 35px;
  letter-spacing: 3px;
  font-weight: 100;
}

section.about .box p{
  font-size: 1.1rem;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

/* <!-----------X--------- About Me---------X------------> */

/*--------------------- Site Content------------------------- */

main .site-content {
  display: grid;
  grid-template-columns: 70% 30%;
}

main .site-content .posts {
  padding: 1rem 2rem;
}

main .post-content {
  margin-bottom: 2rem;
  width: 100%;
}

main .site-content .post-content > .post-image,
.post-title {
  padding: 1rem 2rem;
  position: relative;
}

main .site-content.post-content > .post-image,
.post-info {
  background: skyblue;
  padding: 1rem;
  position: absolute;
  bottom: 0%;
  left: 15vw;
  border-radius: 3rem;
}

main .site-content .post-content > .post-image > div {
  overflow: hidden;
}

main .site-content .post-content > .post-image .img1 {
  width: 100%;
  transition: all 1s ease;
}

main .site-content .post-content > .post-image .img1:hover {
  transform: scale(1.15);
}

main .site-content .post-content > .post-image .post-info span {
  margin: 0.5rem;
}

main .post-content .post-title a {
  font-family: var(--Oswald);
  font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn {
  border-radius: 0;
  padding: 0.7rem 1.5rem;
  background: skyblue;
}

.site-content .pagination {
  justify-content: center;
  color: var(--text-gray);
  margin: 4rem 0;
}

.site-content .pagination a {
  padding: 0.6rem 0.9rem;
  border-radius: 2rem;
  margin: 0.3rem;
  font-family: var(--Monsterrat);
}

.site-content .pagination .pages {
  background: var(--text-gray);
  color: white;
}

.site-content .pagination .pages:hover {
  background: skyblue;
}
/*----------X---------- Site Content---------X-------------- */


/*-------------------- BLOG --------------------*/

section.blog{
  margin: 0;
  padding:0 ;
  
}

section .box{
  width: 700px;
  background: transparent;
  padding: 40px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section.blog .box p{
  font-size: 1.1rem;
  font-weight: bolder;
  color: rgb(17, 16, 16);
  text-align: left;
}

section.blog  p.chng-color{
  color: rgb(37, 37, 37);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:lighter ;
}

section.blog h4{
  font-size:1.5rem;
}

section.blog img.boost{
  border-radius:0%;
}



/*---------X---------- BLOG -------X------------*/


/* -------------Side Bar------------ */

.site-content > .sidebar .category-list {
  font-family: var(--Oswald);
}

.site-content > .sidebar .category-list .list-items {
  background: skyblue;
  padding: 0.4rem 1rem;
  margin: 0.8rem 0;
  border-radius: 3rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.site-content > .sidebar .category-list .list-items a {
  color: black;
}

.site-content > .sidebar .popular-post .post-content {
  padding: 1rem 0;
}

.site-content .sidebar .popular-post h3 {
  padding-top: 8rem;
}

.site-content .sidebar .popular-post .post-info {
  padding: 0.4rem 0.1rem !important;
  bottom: 0rem !important;
  left: 1.5rem !important;
  border-radius: 0rem !important;
  background: wheat !important ;
}

.site-content .sidebar .popular-post .post-title a {
  font-size: 1rem;
}

.site-content .sidebar .newsletter{
  padding-top: 5rem;
}

.site-content .sidebar .newsletter .form-element{
  padding: .5rem 2rem;
}

.site-content .sidebar .newsletter .input-element{
  width: 80%;
  height: 1.9rem;
  padding: .3rem .5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;

}

.site-content .sidebar .newsletter .form-btn{
  border-radius: 0;
  padding: .8rem 32%;
  margin: 1rem 0;
  background: var(--sky);
}

.site-content .sidebar .popular-tags{
  padding: 5rem 0;

}

.site-content .sidebar .popular-tags .tags .tag{
  background: var(--sky);
  padding: .4rem 1rem;
  border-radius: 3rem;
  margin: .4rem .6rem;
}

.site-content .sidebar .popular-tags {

}
/* --------X-----Side Bar-----X------- */

/*----------X------------Main Content-------X----------- */


/* <!------------------------------ Footer----------------------------> */

footer.footer{
  height: 100%;
  background: var(--bg-color);
  position: relative;
}

footer.footer .container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer.footer .container> div{
  flex-grow: 1;
  flex-basis: 0;
  padding: 3rem .9rem;
  color: var(--white);
} 

footer.footer .newsletter .form-element{
  background: black;
  display: inline-block;
}

footer.footer .newsletter .form-element input{
  padding: .5rem .7rem;
  font-size: 1.1rem;
  border: none;
  background: whitesmoke;
  color: black;
  width:74%;

}
footer.footer .newsletter .form-element span{
  background: skyblue;
  padding: .7rem 1rem;
  cursor: pointer;
}




footer.footer .instagram div> img{
  display: inline-block;
  width: 25%;
  height: 50%;
  margin: .3rem .4rem;
}
footer.footer .follow div i{
  color: var(--white);
  padding: .4rem;
}

footer.footer .rights{
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer.footer .rights h4 a{
  color: white;
}

footer.footer .move-up{
  position:absolute;
  right: 6%;
  top:50%;
}

footer.footer .move-up span{
  color:var(--midnight);

}
footer.footer .move-up span:hover{
  color: white;
  cursor: pointer;
}


/* <!--------------X-------------- Footer--------------X-------------> */ 

/* Viexport less than or equal to 1130px */
  @media only screen and (max-width:1130px){
    .site-content .post-content > .post-image .post-info{
  left:2rem !important;
  bottom:1.2rem !important;
  border-radius:0% !important;
  }

  .site-content .sidebar .popular-post .post-info{
    display: none !important;
  }

  footer.footer .container{
    grid-template-columns: repeat(2,1fr);
  }
}

/* X Viexport less than or equal to 1130px X */



/* Viexport less than or equal to 750px */

@media only screen and (max-width: 750px) {
  .nav .nav-menu,
  .nav-items {
    flex-direction: column;
  }

  .nav .toggle-collapse {
    display: initial;
  }

  main .site-content{
    grid-template-columns: 100%;
  }
  footer.footer .container{
    grid-template-columns: repeat(1,1fr);
  }

}



/*  X  Viexport less than or equal to 750px  X */


/* Viexport less than or equal to 520px */

@media only screen and  (max-width: 520px) {
  main .blog{
    height: 125vh;
  }

  .site-content .post-content > .post-image .post-info{
    display: none;
  }

  footer.footer .container > div{
    padding: 1rem .9rem !important;
  }

  .footer .rights{
    padding:0 1.4rem;
    text-align: center;
  }  

  nav .toggle-collapse{
    width: 80%;
    left: 0.8rem;
  }

  main .site-content .post-content .post-image > img {
   height: 10px !important;
  }
  
  

}

/*  X Viexport less than or equal to 520px  X */

@media  (max-width:425px){
  section.about .box {
    width: 350px ;
  }
  section.about img {
    width: 350px;
    height: 350px;
  }
  section.blog .box{
    width:350px;
  }
}


